<html>
<head>
    <title>My First SSR</title>
</head>
<body>
    <h1>Server Side Render</h1>
    <div id="root"><%- ReactApp %></div>
</body>
<!--Apllication Sources-->
<script src="/app.js" charset="utf-8"></script>
<!--React sources-->
<script src="/vendor.js" charset="utf-8"></script>
</html>
