.container {
  padding: 100px;
}

.paper-container {
  padding: 50px 0;
}

.filters-container {
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr 2fr;
}

.category-filter {
  display: flex;
  flex-grow: 1;
}

.search-input {
  display: flex;
  flex-grow: 6;
}

.products-container {
  padding-top: 50px;
  display: flex;
  gap: 32px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.MuiTextField-root.autocomplete-container {
  width: 100%;
  margin-bottom: 10px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}
