.container {
  padding: 100px;
}

.paperContainer {
  padding: 50px;
}

.boxContainer {
  display: flex;
  flex-direction: column;
}

.categoryFilter {
  display: flex;
  flex-grow: 1;
}

.searchInput {
  display: flex;
  flex-grow: 6;
}

.productsContainer {
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.autocompleteContainer {
  width: 100%;
  margin-bottom: 10px !important;
}

.priceText {
  position: absolute !important;
  bottom: 8px !important;
  right: 11px !important;
  font-size: 18px !important;
}
